# This is a file to standardize editor settings: http://EditorConfig.org

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4
max_line_length = 120
trim_trailing_whitespace = true

[{Makefile, *.mk}]
indent_style = tab

[*.{js,json,yml,yaml}]
indent_size = 2

[*.rst]
max_line_length = 79

[*.diff]
trim_trailing_whitespace = false
