# This file contains all of the services for an edX installation. See https://docs.docker.com/compose/compose-file/
# for the appropriate syntax and definitions.
#
# Housekeeping Rules:
# - Group third-party and edX services separately
# - Alphabetize services in the groups
# - Alphabetize individual configuration options for each service
# - Every service's container name should be prefixed with "b2b.devstack." to avoid conflicts with other containers
#   that might be running for the same service.

version: "2.1"

services:
  # Third-party services
#  chrome:
#    container_name: b2b.devstack.chrome
#    image: edxops/chrome:${OPENEDX_RELEASE:-latest}
#    shm_size: 2g
#    ports:
#      - "15900:5900"
#    volumes:  # for file uploads
#      - ../edx-e2e-tests/upload_files:/edx/app/e2e/edx-e2e-tests/upload_files
#      - ../edx-platform/common/test/data:/edx/app/edxapp/edx-platform/common/test/data

  elasticsearch:
    container_name: b2b.devstack.elasticsearch
    image: edxops/elasticsearch:devstack
    ports:
       - "9200:9200"
       - "9300:9300"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
      - elasticsearch_data:/usr/share/elasticsearch/logs

#  firefox:
#    container_name: b2b.devstack.firefox
#    image: edxops/firefox:${OPENEDX_RELEASE:-latest}
#    shm_size: 2g
#    ports:
#      - "25900:5900"
#    volumes:  # for file uploads
#      - ../edx-e2e-tests/upload_files:/edx/app/e2e/edx-e2e-tests/upload_files
#      - ../edx-platform/common/test/data:/edx/app/edxapp/edx-platform/common/test/data

  memcached:
    container_name: b2b.devstack.memcached
    image: memcached:1.4.24
    ports:
       - "11211:11211"

  mongo:
    # We use WiredTiger in all environments. In development environments we use small files
    # to conserve disk space, and disable the journal for a minor performance gain.
    # See https://docs.mongodb.com/v3.0/reference/program/mongod/#options for complete details.
    command: mongod --smallfiles --nojournal --storageEngine wiredTiger
    container_name: b2b.devstack.mongo
    image: mongo:3.6.17
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mysql:
    command: mysqld --character-set-server=utf8 --collation-server=utf8_general_ci
    container_name: b2b.devstack.mysql
    environment:
      MYSQL_ROOT_PASSWORD: ""
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    image: mysql:5.6
    ports:
       - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  devpi:
    container_name: b2b.devstack.devpi
    image: edxops/devpi:${OPENEDX_RELEASE:-latest}
    ports:
      - "3141:3141"
    volumes:
      - devpi_data:/data

  edraak_programs:
    image: eu.gcr.io/openedx-231314/edraak/progs
    environment:
      PROGS_CFG: '/app/docker.json'
      NODE_ENV: development
    command: bash -c 'while true; do python manage.py runserver 0.0.0.0:8800 --settings=edraakprograms.dev; sleep 2; done'
    container_name: b2b.devstack.programs
    working_dir: /app
    ports:
      - "18800:8800"
    depends_on:
      - mysql
      - mongo
      - memcached

  edraak_programs_gulp:
    image: eu.gcr.io/openedx-231314/edraak/progs
    environment:
      NODE_ENV: development
    command: bash -c 'while true; do npx gulp watch; sleep 2; done'
    container_name: b2b.devstack.programs-gulp
    working_dir: /app
    depends_on:
      - mysql
      - memcached

  edraak_dev_router:
    image: nginx
    container_name: edraak_dev_router
    logging:
      driver: none
    volumes:
      - ./nginx:/etc/nginx/conf.d
    command: bash -c 'while true; do nginx -g "daemon off;"; sleep 2; done'
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - edraak_programs
    networks:
      default:
        aliases:
          - programs.edraak.dev
          - edraak.dev


volumes:
#  discovery_assets:
  elasticsearch_data:
  mongo_data:
  mysql_data:
  devpi_data:
