# For non-draft changes to Named Release branches:
# - Check if the user belongs to a maintainers team.
# - If so, approve the pull request.
#   - Tag community-engineering (for now) and the maintainers team.
#   - Merge the PR when the author comments `@edx-community-bot merge`.
# Required organization secrets
# - CC_GITHUB_TOKEN=...
# - CC_TEAM_CHAMPIONS=org/team-name
# - CC_TEAM_CONTRIBUTORS_ORG=org
# - CC_TEAM_CONTRIBUTORS_TEAM=team-name

name: Automerge BTR open-release PRs

on:
  issue_comment:
    branches:
      - open-release/*
    types:
      - created
      - edited
  pull_request_target:
    branches:
      - open-release/*
    types:
      - opened
      - edited
      - ready_for_review

jobs:
  automerge:
    uses: openedx/.github/.github/workflows/pr-automerge-open-release.yml@nedbat/pr-automerge-reusable-workflow
